/* Base setup for viewport and font settings for all devices */
meta[name="viewport"] {
    content: "width=device-width, initial-scale=1";
}
body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 10px;
    line-height: 1.6;
}

/* Color palette as CSS variables */
:root {
    --background-color: #f8ffec; /* very light green, light mode background */
    --text-color: #000000; /* black, light mode text */
    --primary-color: #37a75c; /* green, primary color */
    --secondary-color: #b3d4a1; /* light green, secondary color */
    --background-color2: white;
}


/* Responsive typography using relative units */
h1 {
    margin: 0 0 20px 0;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

p {
    margin: 0 0 20px 0;
    font-size: 1.25rem;
}


/* Header */
header {
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.5rem; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height:80px;
    width: auto;
    vertical-align: middle;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

}

nav li{
    margin: 0 10px;
    
}

nav a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding:10px;
    font-size: large;
}

nav a:hover, nav a:focus {
    color: var(--primary-color);
}

#hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Home icons */
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons a {
    color: var(--text-color);
    transition: 0.3s;
    text-decoration: none;
}

.icons a:hover, .icons a:focus {
    color: var(--primary-color);
}

.skills-icons {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 20px;
    justify-content: center;
    color: var(--text-color);
}



/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    font-weight: bold;
    bottom: 0;
    text-align: center;
}

footer p {
    
    font-size: 0.8rem;
    opacity: 0.75;
    
}


/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}

#home .text-content {
    max-width: 80%;
    width: 100%;
}


#home img {
    width: 100%;
    height: auto;
    max-width: 80%;
    object-fit: cover;
    gap: 30px;
    

}

/* About */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}



.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    gap: 20px;
}

.about-illustration img {
    width: 100%;
    height: auto;
    max-width: 450px;
    object-fit: cover;
}

#about p {
    max-width: 50% ;
    text-align: centre;
    padding: 0 20px;
}



/* Projects */

#projects {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.project-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type:x mandatory;
    scroll-padding: 20px;
    width: calc(3*(300px + 6*10px));
    
}

.project-card {
    flex: 0 0 auto;
    width: 300px;
    margin: 10px;
    background-color: var(--background-color2);
    padding: 20px;
    text-align: center;
    scroll-snap-align: start;
}

.project-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-card h3, .project-card p {
    margin: 10px 0;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
}

.project-card a:hover, .project-card a:focus {
    color: var(--background-color);
    cursor: pointer;
}

.project-card img:hover, .project-card img:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Contact */

.contact-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--text-color);
}

.contact-icons a {
    color: var(--text-color);
    transition: 0.3s;
    text-decoration: none;
}

.contact-icons a:hover, .icons a:focus {
    color: var(--primary-color);
}

/* Responsive */

/* tablets */

@media (max-width:768px) {
    #about h1 {
        font-size: 1.5rem;
    }
    
    .about-content {
        flex-direction: column;
    }

    

    .about-illustration img {
        max-width: 300px;
    }

    #about p {
        font-size: 1rem;
        
    }

    #home img {
        
        width: 100%;
        max-width: 80%;
    }

    .project-container {
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .about-content  {
        flex-direction: column;
    }
    
    #hamburger {
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        position: absolute;
        top: 60px;
        left:0;
        background-color: var(--secondary-color);
        
    }

   .logo, nav {
    flex: 1;
    
   }

   nav ul li {
    text-align: center;
    width: 100%;
    }

    nav ul.show {
        display: flex;
    }


    .project-card {
        width: 100%;
        max-width: 340px;
    }
}

/* phones */

@media (max-width:480px) {
    body {
        padding: 5px;
    }

    header {
        flex-direction: column;
    }

    nav a {
        padding: 8px;
        font-size: medium;
    }

    .icons a, .contact-icons a {
        font-size: small;
    }

    .project-card {
       
        width: 80%;
        margin: 10px auto;
        scroll-snap-align: start;
    }

    .project-container {
        flex-wrap: wrap;
        overflow-x: hidden;
        width: 100%;
    }

    .project-card a {
        padding: 8px 16px;
    }

    #about h1, #projects h1, #contact h1 {
        font-size: 1.5rem;
        text-align: center; 
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .about-illustration img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    #about p {
        font-size: 0.9rem;
        max-width: 100%;
        padding: 10px;
    }


    .scroll-btn {
        display: none;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    #home .text-content {
        max-width: 90%;
        width: 100%;
        text-align: left;
    }

    #home img {
        width: 100%;
        height: auto;
        max-width: 300px;
        object-fit: cover;
        
    }

    .icons, .skills-icons {
        gap:15px
    }

    .icons a, .skills-icons li {
        font-size: 1rem;
        width: 45px;
        height: 45px;
    }

    .contact-icons {
        gap: 20px;
    }

    .contact-icons a {
        padding: 5px;
    }
}