/* Base setup for viewport and font settings for all devices */
meta[name="viewport"] {
    content: "width=device-width, initial-scale=1";
}
body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 10px;
    line-height: 1.6;
}

/* Color palette as CSS variables */
:root {
    --background-color: #f8ffec; /* very light green, light mode background */
    --text-color: #000000; /* black, light mode text */
    --primary-color: #37a75c; /* green, primary color */
    --secondary-color: #b3d4a1; /* light green, secondary color */
}




/* Responsive typography using relative units */
h1, p {
    margin: 0 0 20px 0;
}
h1 {
    font-size: 2.5rem;
    
}
p {
    font-size: 1rem;
}

/* Header */
header {
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.5rem; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    
}
nav ul {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    justify-content: right;
    width: 100%;
    flex-wrap: wrap;

}

nav li{
    margin: 0 10px;
    
}

nav a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding:10px;
    font-size: large;
}

nav a:hover, nav a:focus {
    color: var(--primary-color);
}

/* Home icons */
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icons a {
    color: var(--text-color);
    transition: 0.3s;
}

.icons a:hover, .icons a:focus {
    color: var(--primary-color);
}

.skills-icons {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 30px;
    justify-content: center;
    color: var(--text-color);
}



/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    font-weight: bold;
}

/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    gap: 20px;
}

#home .text-content {
    max-width: 500px;
}

#home img {
    height: 425px;
    width: 425px;
    border-radius: 50%;
    object-fit: cover;

}

/* About */
#about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;
}

.about-illustration img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

#about p {
    max-width: 500px ;
    text-align: left;
}

/* Projects */

#projects {
    padding: 10px;
}

.project-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
}

.project-card {
    flex: 0 0 auto;
    width: 300px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card h3, .project-card p {
    margin: 10px 0;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
}

/* Contact */
.contact-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--text-color);
}

.contact-icons a {
    color: var(--text-color);
    transition: 0.3s;
    text-decoration: none;
}

.contact-icons a:hover, .icons a:focus {
    color: var(--primary-color);
}